numpy
pygame
sys
math
random
ctypes
imageio
csv
matplotlib.pyplot
pandas
matplotlib.rcParams
matplotlib.pylab
sklearn.datasets 
sklearn.model_selection
sklearn.linear_model
ctypes
easygui
random
tkinter
tk_html_widgets
threading
time